# Composer
/vendor/
composer.lock

# Environment
.env
.env.local

# Logs
/logs/
/logs/*.log

# Storage
/storage/*.db
/storage/*.json
/storage/dead_letter_*
/storage/cache/
/storage/debug/

# Sync
storage

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db 

*.bat

# Sync
storage/